.subfood_list {
    font-family: 'Dancing Script', cursive;
    padding: 10px 40px;
    color: black;
    .sub_title {
        font-size: 25px;
        font-weight: lighter;
        padding: 20px 0;
        border-bottom: 1px solid #E5E5E5;
    }
    .subItems_list{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}