.product_review_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    .review_header_left{
        height: 2px;
        background-color: rgb(222,223,224);
        width: 40%;
    }
    .review_header_title{
        font-family: 'Dancing Script', cursive;
        font-size: 25px;
    }
}