.cart_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 440px;
  width: 25vw;
  border: 1px solid rgb(222, 223, 224);
  top: -10px;
  right: 110px;
  z-index: 1000;
  border-radius: 5px;
  background-color: white;
  .cart_list_main {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 75%;
    border-bottom: 1px solid rgb(222, 223, 224);
    margin: 0 5px;
  }
  .cart_list_footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 25%;
    justify-content: space-around;
  }
}
