.footer{
    width: 100%;
    height: 280px;
    margin-top: 40px;
    background-color: rgb(242,245,248);
    display: flex;
    flex-direction: column;
    .footer_main{
        display: flex;
        flex-direction: row;
        height: 80%;
        width: 85%;
        justify-content: space-between;
        .logo_footer{
            align-items: center;
            justify-content: center;
            height: 100%;
            flex: 0 0 25%;
            align-items: center;
            display: flex;
            .logo {
                fill: rgb(214, 168, 182);
                transform: scale(2.4) rotate(-25deg);
              }
        }
    }
    .footer_footer{
        height: 20%;
        width: 90%;
        align-self: center;;
        border-top: 1px solid rgb(222,223,224);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        .footer_social{
            width: 30%;
            display: flex;
            justify-content: space-between;
            .fa{
                font-size: 30px;
                color: black;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
    
}