.add_to_bag{
    height: 380px;
    width: 40vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    .bag_close{
        font-size: 35px;
        color: rgb(153,153,153);
        margin-right: 17px;
        align-self: flex-end;
        cursor: pointer;
        &:hover{
            color: black;
        }
    }
}