*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  height: calc(96vh - 80px);;
}

.sidebar {
  flex: 0 0 20%;
  background-color: rgb(255,255,255);
  border-right: 1px solid rgb(222,223,224);
  padding: 20px 0;
  overflow: scroll;
}
.mainbar {
  padding: 20px ;
  flex: 0 0 80%;
  background-color: rgb(255,255,255);
  overflow: scroll;
}