.product_page{
    display: flex;
    flex-direction: column;
    padding: 20px;
    .product_main{
        display: flex;
        flex-direction: row;
        .product_image{
            width: 65%;
            height: 60vh;
            background-position: center;
            background-size: cover;
        }
    }
    .product_review{
       .product_review_main{
            display: flex;
            .product_review_feedback{
                width: 50%;
            }
            .product_review_button{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }
       }
       .product_review_customer{
           font-size: 25px;
           font-family: 'Dancing Script', cursive;   
           font-weight: lighter;
           margin: 60px 0 20px 0;
        }
    }
    .slideshow{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}